@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

body{
    margin: 0;
    background-color:  rgb(69, 74, 80);
    color: white;
    font-family: montserrat;
}

#img-header{
    width: 100%;
}

#desc-header{
    font-size: 30px;
}

#titulo{
    font-size: 4em;
}

#texto{
    font-size: 1.5em;
    margin-left: 9.5rem;
}

figure{
    margin: 0%;
}

#img-verificado{
    width: 120px;
    margin-left: 7.5rem;
}

#alinhar{
    display: flex;
    align-items: center;
}

#coluna-1{
    display: flex;
    justify-content: space-around;
    
}

#coluna-2{
    display: flex;
    justify-content: space-around;
}

.videos{
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;
}